#txtfooter{
    color: white;
       
}
.navbar{
    padding: 10px;
}
img{
    width: 100%; height: 50%;
}
.container{
  max-width: 100%;
}
.jumbotron{
    max-width: 100%;
    background-color: blue;
}