body,html{
height: 100%;
width: 100%;
background: #ffffff;
padding: 0;
margin: 0;
}

label{
	text-align: center;
	display: block;
}
/*
.form-group{
	width: 400px;
	margin: auto;
} */
#table{
display: table;
width: 100%;
height: 100%;
margin: auto;
}
#cell{
display: table-cell;
vertical-align: middle;
}

#contenido{
height: 100%;
background: #fff;
text-align: center;
margin-right: 0px;
}
.btn-danger{
	margin: 10px;
}
